<div class="row my-4">
  <div class="col-md-4">
    <strong>With Promise</strong>
    <hr />
    <button onclick="fetch1()" class="btn btn-primary">Buy Laptop</button>
    <hr />
    <div id="result1">Data</div>
  </div>
  <div class="col-md-4">
    <strong>With Promise/Async</strong>
    <hr />
    <button class="btn btn-primary">Buy Laptop</button>
    <hr />
    <div id="result2">Data</div>
  </div>
  <div class="col-md-4">
    <strong>With Promise</strong>
    <hr />
    <button class="btn btn-primary">Buy Laptop</button>
    <hr />
    <div id="result3">Data</div>
  </div>
</div>
