<div class="row">
  <div class="col-md-4">
    <div class="card">
      <h5 class="card-header">Communication</h5>
      <div class="card-body">
        <ul id="elContainer1">
          <li>Communication Video have - 5</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <h5 class="card-header">History</h5>
      <div class="card-body">
        <ul id="elContainer2">
          <li>History Video have - 3</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <h5 class="card-header">Geography</h5>
      <div class="card-body">
        <ul id="elContainer3">
          <li>Geography Video have - 4</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="justify-content-sm-center">
  <div class="card">
    <h5 class="card-header">Concat</h5>
    <div class="card-body">
      <ul id="elContainer"></ul>
    </div>
  </div>
</div>
